#root {
  margin: 124px auto;
  font-family: Helvetica, sans-serif;
  max-width: 1800px;
}

main {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-items: space-between;
  align-content: center;
  gap: 124px;
  margin: 0 36px;
  align-items: start;
}

aside {
  position: sticky;
  top: 124px;
}

section {
  margin-bottom: 96px;
}

p {
  margin-bottom: 36px;
  line-height: 1.5rem;
}


/* Responsive styles */
@media (max-width: 1100px) {
  main {
    grid-template-columns: 1fr;
    gap: 48px;
    margin: 0 24px;
  }
  aside {
    position: static;
  }
}

@media (max-width: 600px) {
  #root {
    margin: 32px auto;
    padding: 0 4px;
  }
}